---
import { Image } from 'astro:assets'

import type { iconsType } from 'astro-pure/types'
import { Button, Card, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import PublicationsSection from '@/components/projects/PublicationsSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'


const headings = [
  { depth: 2, slug: 'publications', text: 'Publications' },
  { depth: 2, slug: 'projects', text: 'Projects' },
  { depth: 2, slug: 'projectsifollow', text: 'Projects I Follow' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
{/*
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>
*/}

  <h2 id='publications'>Publications</h2>


{/*
  <PublicationsSection
  publications={[
    {
      title: 'Real-Time Differential Ultrasonic Flow Sensing Enabled by PMUT Phased Array with a Novel V-Shaped Beam Pattern',
      description: 'Yufeng Gao, Xili Wang, Lei Zhao and Yipeng Lu',
      "journalName": "2025 IEEE 38th International Conference on Micro Electro Mechanical Systems (MEMS), Kaohsiung, Taiwan, 2025.",
      links: [
        {
          type: 'doc',
          href: 'https://ieeexplore.ieee.org/abstract/document/11109656'
        }
      ]
    }
  ]}
/>
*/}


  <Card
        as='a'
        heading='A Bandwidth-tunable Array of Piezoelectric micromachined Ultrasonic Transducers with Various DC Bias Voltage Combinations'
        href='https://ieeexplore.ieee.org/abstract/document/11109656'
      >

        <p><u>Xili Wang,</u> Yufeng Gao, Aocheng Bao, Chenyuan Zhang and Yipeng Lu
        </p> 
        <p> 
        </p>
        <p> 
        </p>
        <p> 
        </p>
        <p> 
        </p>
        <em>The 23rd International Conference on Solid-State Sensors, Actuators and Microsystems (Transducers), Orlando, Florida, USA, 2025</em>
       
  </Card>
  <p>
  </p>
  <p>
  </p>
  <Card
        as='a'
        heading='Real-Time Differential Ultrasonic Flow Sensing Enabled by PMUT Phased Array with a Novel V-Shaped Beam Pattern'
        href='https://ieeexplore.ieee.org/document/10917774'
      >

        <p>Yufeng Gao, <u>Xili Wang,</u> Lei Zhao and Yipeng Lu
        </p>
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <p> 
        </p>
          <em>2025 IEEE 38th International Conference on Micro Electro Mechanical Systems (MEMS), Kaohsiung, Taiwan, 2025</em>
       
      </Card>
  <p>
  </p>
  <p>
  </p>
  <Card
        as='a'
        heading='High Resolution and Large Range Ultrasonic Flow Monitoring Based on Monolithic PMUT Phased Array with Bidirectional Beams'
        href='https://ieeexplore.ieee.org/abstract/document/11111344'
      >

        <p>Yufeng Gao, <u>Xili Wang,</u> Lei Zhao, Aocheng Bao and Yipeng Lu
        </p>
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <p> 
        </p>
          <em>The 23rd International Conference on Solid-State Sensors, Actuators and Microsystems (Transducers), Orlando, Florida, USA, 2025</em>
       
      </Card>
  <p>
  </p>
  <p>
  </p>
  <Card
        as='a'
        heading='A Fully MEMS-Compatible Process for Ultra-Thin Piezoelectric Actuators with Good Uniformity and High Coupling Efficiency'
        href='https://ieeexplore.ieee.org/abstract/document/11111344'
      >

        <p>Aocheng Bao, Chong Yang, Kai Yang, <u>Xili Wang,</u> Yufeng Gao, Haixia Zhang and Yipeng Lu
        </p>
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <p> 
        </p>
          <em>The 23rd International Conference on Solid-State Sensors, Actuators and Microsystems (Transducers), Orlando, Florida, USA, 2025</em>
       
      </Card>

  <h2 id='projects'>Projects</h2>
  <ProjectSection
    project={[
      {
        name: 'MultiMind <App>',
        description: 'A simple desktop app that integrates multiple AI web interfaces in one place',
        links: [{ type: 'site', href: 'https://xili.wang/app/multimind' },
        { type: 'github', href: 'https://github.com/TimothyWang-Tech/MultiMind' },
        ]
      },
      {
        name: 'Connectivity Motion Analysis Problem',
        description: 'Utilize Finite Difference Methods',
        links: [
          { type: 'github', href: 'https://github.com/TimothyWang-Tech/connectivity-motion-analysis-problem-based-on-MATLAB' },
          
        ]
      }
    ]}
  />
  


  <h2 id='projectsifollow'>Projects I follow</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'PHYBench',
        description: 'Holistic Evaluation of Physical Perception and Reasoning in LLM',
        links: [{ type: 'github', href: 'https://github.com/phybench-official' },
        { type: 'site', href: 'https://phybench-official.github.io/phybench-demo/' },
        { type: 'doc', href: 'https://arxiv.org/pdf/2504.16074' }
        ]
      },
      {
        name: 'CS 213 Learning',
        description: 'Notes, code and experiences for Introduction to Computer Systems course',
        links: [
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          }
        ]
      }
    ]}
  />

  {/*
  <h2 id='others'>Others</h2>
  <ProjectSection
    project={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />

  <!-- gpg signature -->
  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code>APTX4869</code>, and you can find it on the opengpg key servers or download from it.
  </p>
  <Button href='https://keys.openpgp.org/search?q=APTX4869' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>
  */}

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>If these projects saved you hours of work, a coffee for the author would be truly appreciated~☕</p>
  <div class='flex flex-col justify-center gap-4 sm:flex-row'>
    {
      [
        { name: 'WeChat', icon: 'wechat-pay', image: wechat },
        { name: 'Alipay', icon: 'alipay', image: alipay }
      ].map((item) => (
        <div class='group relative justify-center overflow-hidden rounded-xl border bg-white'>
          <div class='absolute bottom-0 end-0 start-0 top-0 flex items-center justify-center transition-opacity group-hover:opacity-0'>
            <Icon class='size-20' name={item.icon as iconsType} />
          </div>
          <Image
            class='mx-auto my-0 max-w-60 opacity-30 blur-sm transition-opacity group-hover:opacity-100 group-hover:blur-none'
            src={item.image}
            alt={item.name}
            loading='lazy'
          />
        </div>
      ))
    }
  </div>
  {/*
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      { name: 'C*a（酷安@暴走の蜗牛）', amount: '2.00', date: '2019-07-02' },
      { name: '华雄(QQ：1300****71)', amount: '5.00', date: '2019-12-30' },
      { name: '◌(QQ：1934****45)', amount: '3.00', date: '2019-12-30' },
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' }
    ]}
  />
  */}
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>
